.button {
    $opacity: 0.9;

    position: fixed;
    left: 0;
    right: 0;
    height: 60px;

    background: rgba(#d07820, $opacity);
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    z-index: 20;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    transition: background 0.3s ease, transform 0.3s ease;
    backdrop-filter: blur(2px);

    &:active:not(:disabled) {
        transform: scale(0.95);
        background: rgba(#a15d19, $opacity);
    }

    &:disabled {
        cursor: not-allowed;
        background: rgba(#5d5d5d, $opacity);
    }
}
