:global(:root) {
  --safe-top: 0px;
  --safe-bottom: 0px;
  --safe-left: 0px;
  --safe-right: 0px;
}

:global(html), :global(body), :global(#root) {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #071124 0%, #041022 100%);
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.app-root {
  box-sizing: border-box;
}

:global(*) {
  -webkit-tap-highlight-color: transparent;
}