.safeArea {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    overflow: hidden;
    position: relative;
}